/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(76, 178, 236);
}

.container{
  display: flex;
  width: 100%;
  max-width: 1050px;
  padding: 10px;
  gap: 10px;
}

section{
  background: aliceblue;
  border-radius: 7px;
}

.tools-board{
  width: 170px;
  padding: 15px 22px 0;
}

.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;  
  /* this removed dots for list. */
  margin: 10px 0 0 -2px;
}

.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-top: 10px;
}

.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(200%);
}
/* chng size of fill-color vala check box */
.option #fill-color{
  height: 15px;
  width: 15px;
}

/* rect, circle, triangle these all options color fixed and padding added to make space b/w text and shape */
.option :where(span,label){
  color: #5a6168;
  padding-left: 7px;
  cursor: pointer;
}

/* .fill-color:checked ~ label{
  color: red;
} */

.option #size-slider{
  width: 100%;
  height: 4px;
  margin-top: 12px;
}

.colors .options{
  display: flex;
  justify-content: space-between;
}

.colors .option{
  height: 15px;
  width: 15px;
   background: rgb(79, 189, 134);
   border-radius: 50%;
   margin-top: 3px;
}

.colors .option::before{
  position: absolute;
}
.option:is(:hover, .active) :where(span,label){
  color: #4394b9;
}
.drawing-board{
  flex: 1;
}
